@import "tailwindcss";

@theme {
  --font-sans:
    "Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Rufina", ui-serif, Georgia, serif;

  --color-purple-main: #aa90ff;
  --color-purple-secondary: #c0adff;
  --color-blue-main: #000f7d;
  --color-blue-footer: #000951;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#000F7D];
}

/* Practice Areas accordion */
details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}
